
<div *ngIf="scoreData$ | async as scoreData"> Week {{scoreData?.week.number}}</div>

<div *ngIf="picks$ | async as games"  class="container-fluid">
  <div class="row header-row">
    <div class="col-3">
      <span>Away Team</span>
      <span></span>
      <span>Home Team</span>
    </div>
    <div class="col-3">
      <span>Spread</span>
      <span>O/U</span>
    </div>
    <div class="col-6">
      <span>Actions</span>
    </div>


</div>



      <div *ngFor="let gm of games" class="row game-row">

          <span class="col-1">{{gm.gameTime | date: 'E, h:mm a' }}</span>
          <span class="col-2">{{gm.location}}</span>

        <div class="col-3" style="justify-content: flex-start">
          <span>{{gm.awayTeam.fullName}}</span>
          <span> @ </span>
          <span>{{gm.homeTeam.fullName}}</span>
        </div>

          <span class="col-1">{{gm.odds?.details}}</span>
          <span class="col-1">{{gm.odds?.overUnder}}</span>
        <div class="col-4">
          <button type="button" class="col btn btn-outline-primary btn-sm"> Pick {{gm.awayTeam.abbreviation}} {{gm.odds?.team == gm.awayTeam.abbreviation ? ((gm.odds?.spread>0 ? '+': '') + gm.odds?.spread) : ((gm.odds?.spread>0 ? '': '+') + (-1 * gm.odds?.spread))}} </button>
          <button type="button" class="col btn btn-outline-primary btn-sm"> Pick {{gm.homeTeam.abbreviation}} {{gm.odds?.team == gm.homeTeam.abbreviation ? ((gm.odds?.spread>0 ? '+': '') + gm.odds?.spread) : ((gm.odds?.spread>0 ? '': '+') + (-1 * gm.odds?.spread))}} </button>
          <button type="button" class="col btn btn-outline-primary btn-sm"> Pick under {{gm.odds?.overUnder}} </button>
          <button type="button" class="col btn btn-outline-primary btn-sm"> Pick over {{gm.odds?.overUnder}} </button>
        </div>
    </div>


</div>



